<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="myreality.development.magicwizard"
    android:versionCode="12"
    android:versionName="@string/app_version"
     android:installLocation="auto">

    <uses-sdk android:minSdkVersion="8" 
              android:targetSdkVersion="18"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:icon="@drawable/favicon"
        android:label="@string/app_name"
        android:allowBackup="true">
        <activity 
            android:theme="@android:style/Theme.Black.NoTitleBar" 
            android:name=".activities.MainActivity" 
            android:launchMode="standard"
            >
            <intent-filter>
            	<action android:name="android.intent.action.MAIN" />
           	    <category android:name="android.intent.category.LAUNCHER" />
        	</intent-filter>
            
        </activity>
        <activity android:name=".activities.Preferences"></activity>
        <activity android:name=".activities.RegisterActivity"></activity>
        <activity android:name=".activities.SignupActivity"></activity>        
    </application>

</manifest>